.app__wrap {
  display: flex;
  justify-content: space-between;
  
  .logo__text img {
    margin: 0;
  }
}

.app__info {
  width: 53%;
}

.app__img {
  width: 46%;
  padding-left: 20px;
  
  img {
    display: block;
  }
}

.app__title {
  margin-top: 50px;
  margin-bottom: 60px;
  color: #333;
  font-size: 40px;
  line-height: 1.2;
  
  b {
    font-size: 41px;
    font-weight: 700;
  }
}

.app__list {
  .reset();
  padding-left: 30px;
  list-style: none;
  color: #333;
  
  li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 25px;
    
    &::before {
      content: "\2015";
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.app__link {
  display: block;
  width: 269px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
  background-color: @blue;
  border-radius: 13px;
  
  img {
    display: block;
  }
  
  &:hover,
  &:active {
    background-color: #fff;
    background-image: url(../img/images/app-blue.png);
    background-repeat: no-repeat;
    background-size: contain;
    
    img {
      display: none;
    }
  }
}
